header {
    display: none;
    z-index:1000
}

.pfp {
    border: 6px solid var(--secondary-color);
    border-radius: 50%;
    max-width: 60px;
    max-height: 60px;
    object-fit: cover;
}

button {
    text-align: center;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--side-bar-letters);
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
}

button:hover {
    color: var(--white);
}

@media (max-width: 910px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        background-color: var(--primary-color);
        padding: 0.5%;
        justify-content: space-evenly;
    }
}