.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

.content {
    display: flex;
    flex: 1;
    animation: fade-in 1s;
    /* overflow: hidden;  this makes the scroll to parts in the page fuck up*/
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: var(--white);
    overflow: auto;
    margin-left: 300px;
}

@media (max-width: 910px) {
    .main-content {
        background-color: var(--white);
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
}

